@charset 'utf-8';

$primary:#6fcc8b;
$modal-fade-transform: translateX(100%);

@import "@/assets/scss/materialdesignicons.min.scss";
@import "@/assets/scss/owl.carousel.min.scss";
@import "@/assets/scss/owl.theme.default.min.scss";
@import "@/assets/scss/owl.transitions.scss";
@import "~bootstrap/scss/bootstrap";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

.bg-half-60 {
  padding: 60px 0;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.multiselect__placeholder {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 5px;
}

@for $size from 1 to 13 {
  .w-#{$size} {
    width: calc(100% / 12 * #{$size})!important;
  }
  .w-max-#{$size} {
    max-width: calc(100% / 12 * #{$size})!important;
  }
}

@for $size from 1 to 13 {
  @each $pbnt in 'xl', 'lg', 'md', 'sm' {
    @include media-breakpoint-up($pbnt) {
      .w-#{$pbnt}-#{$size} {
        width: calc(100% / 12 * #{$size})!important;
      }
    }
  }
}

@each $pbnt in 'xl', 'lg', 'md', 'sm' {
  @include media-breakpoint-up($pbnt) {
    .w-#{$pbnt}-auto {
      width: auto!important;
    }
  }
}

#topnav label {
  color: rgba(255, 255, 255, 0.5);
  transition: all .3s ease-in-out;
}

#topnav label:hover {
  color: rgba(255, 255, 255, 1);
}

#topnav.nav-sticky label {
  color: #3c4858;
}

.accordion .multiselect__content-wrapper {
  position: relative;
}

.bg-primary-light {
  background-color: mix(white,$primary,90%);
}

.table-card-row {
  transition: all .3s ease-in-out;

  &:hover {
    .table-card-row-open {
      color: white!important;
      background-color: $primary!important;
    }
  }

  .table-card-row-more {
    color: $info;
    border-color: $info;

    &:hover {
      color: white;
      background-color: $info;
    }
  }

  &.table-card-row-active {
    background-color: rgba($primary, 0.2) !important;
    border: 1px solid rgba($primary, 0.2) !important;
    color: $primary !important;

    .table-card-row-more {
      color: $primary;
      border-color: $primary;

      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }
}