

@import "~bootstrap/scss/bootstrap";
@import "@/assets/scss/materialdesignicons.min.scss";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "@/assets/scss/theme.scss";

.bg-half-100 {
  padding: 100px 0;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-position: center center;
}

.multiselect__placeholder {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 5px;
}
