<header id="topnav" class="defaultscroll sticky">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" href="#">
        <img src="../assets/images/logo-dark.png" class="l-dark" height="24" alt=""/>
        <img src="../assets/images/logo-light.png" class="l-light" height="24" alt=""/>
      </a>
    </div>                 
    <div class="buy-button" style="height: 74px;">
        <div class="custom-control custom-switch d-flex align-items-center h-100">
          <div class="form-group mb-0 " style="line-height: 1.5;">
            <input type="checkbox" class="custom-control-input " id="switchTheme">
            <label class="custom-control-label" for="switchTheme" >Dark mode</label>
          </div>
      </div>
    </div><!--end login button-->
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <div id="navigation">
      <!-- Navigation Menu-->   
      <ul class="navigation-menu nav-light">
        <li><a href="/">Home</a></li>
        <li class="has-submenu">
          <a href="/vendor.html">Virtual servers</a><span class="menu-arrow"></span>
          <ul class="submenu megamenu">
            <li>
              <ul>
                <li><a href="#">Saas</a></li>
                <li><a href="#">Classic Saas</a></li>
                <li><a href="#">Agency</a></li>
              </ul>
            </li> 
          </ul>
        </li>
        <li class="has-submenu">
          <a href="/empty.html">Sales & Promocodes</a><span class="menu-arrow"></span>
          <ul class="submenu">
            <li class="has-submenu"><a href="javascript:void(0)"> Company <span class="badge badge-primary rounded">Added</span></a><span class="submenu-arrow"></span>
              <ul class="submenu">
                <li><a href="#"> About Us</a></li>
                <li><a href="#"> About Us Two <span class="badge badge-success rounded">New</span></a></li>
                <li><a href="#">Services</a></li>
              </ul> 
            </li>
            <li class="has-submenu"><a href="javascript:void(0)"> Account <span class="badge badge-primary rounded">Added</span></a><span class="submenu-arrow"></span>
              <ul class="submenu">
                <li><a href="/empty.html">Profile</a></li>
                <li><a href="/empty.html">Members <span class="badge badge-success rounded">New</span></a></li>
                <li><a href="/empty.html">Works <span class="badge badge-success rounded">New</span></a></li>
              </ul>  
            </li>
            <li class="has-submenu"><a href="javascript:void(0)"> Shop </a><span class="submenu-arrow"></span>
              <ul class="submenu">
                <li><a href="shop-products.html">All Products</a></li>
                <li><a href="shop-product-detail.html">Product Details</a></li>
                <li><a href="shop-cart.html">Shop Cart</a></li>
              </ul>  
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="/empty.html">F.A.Q.</a><span class="menu-arrow"></span>
          <ul class="submenu">
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="changelog.html">Changelog</a></li>
            <li><a href="components.html">Components</a></li>
          </ul>
        </li>
        <li class="">
          <a href="/empty.html">About</a>
        </li>
        <li class="">
          <a href="/empty.html">Empty</a>
        </li>
      </ul><!--end navigation menu-->
    </div><!--end navigation-->
  </div><!--end container-->
</header>
<section class="bg-half-60 bg-primary d-table w-100" style="background: url(<%= require('../assets/images/hosting/bg.png') %>) center center;" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-12">
        <div class="title-heading text-center">
          <h1 class="heading title-dark text-white mb-3">Text block</h1>
          <p class="para-desc para-dark mx-auto text-muted">Tect block subtext</p>
          <div class="mt-4 pt-2">
            <a href="javascript:void(0)" class="btn btn-primary">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>