<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  </head>

  <body>
    <%= require('html-loader!../templates/header.ejs') %>
    <section class="section">
      <div class="container">
        <h1 class="title text-center">Coupons</h1>
        <ul class="list-unstyled">
          <li class="media flex-column flex-md-row align-items-center border rounded p-3 mb-3">
            <img class="mb-3 mr-3 mb-md-0" src="https://via.placeholder.com/150" alt="coupon image">
            <div class="media-body">
              <div class="d-flex justify-content-between align-items-stretch align-items-sm-stretch flex-column flex-sm-row">
                <div class="mr-0 mr-sm-3">
                  <h5 class="mb-1">Discount on 256MB EPYC NAT VPS</h5>
                  Get any EPYC NAT VPS for around £4.5/year. Valid for all currencies.
                </div>
                <div class="mt-2">
                  <div class="coupon-block input-group mb-3 flex-nowrap ">
                    <div class="input-group-prepend flex-grow-1">
                      <span class="coupon-code input-group-text px-3 w-100 justify-content-center">00000-jHJ</span>
                    </div>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" title="copy code">Copy</button>
                    </div>
                  </div>
                  <a href="https://site.com" target="_blank" class="btn btn-block btn-outline-secondary text-nowrap">
                    Get coupon
                    <i class="uil uil-external-link-alt"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="media flex-column flex-md-row align-items-center border rounded p-3 mb-3">
            <img class="mb-3 mr-3 mb-md-0" src="https://via.placeholder.com/150" alt="coupon image">
            <div class="media-body">
              <div class="d-flex justify-content-between align-items-stretch align-items-sm-stretch flex-column flex-sm-row">
                <div class="mr-0 mr-sm-3">
                  <h5 class="mb-1">Discount on 256MB EPYC NAT VPS</h5>
                  Get any EPYC NAT VPS for around £4.5/year. Valid for all currencies.
                </div>
                <div class="mt-2">
                  <div class="coupon-block input-group mb-3 flex-nowrap ">
                    <div class="input-group-prepend flex-grow-1">
                      <span class="coupon-code input-group-text px-3 w-100 justify-content-center">gH67Xxx90-jHJ</span>
                    </div>
                    <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" title="copy code">Copy</button>
                    </div>
                  </div>
                  <a href="https://site.com" target="_blank" class="btn btn-block btn-outline-secondary text-nowrap">
                    Get coupon
                    <i class="uil uil-external-link-alt"></i>
                  </a>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </section>
    <%= require('html-loader!../templates/footer.ejs') %>
  </body>
</html>